@model IEnumerable<FtAbateQuarteioHabilitacao>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cbd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dmovimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isequencial)
            </th>
        </tr>
        @foreach(var item in Model)
        {
         <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cbd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dmovimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isequencial)
            </td>
        </tr>
        }
    </table>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
